BasedOnStyle: LLVM
---
Language: Cpp
Standard: Cpp11

AlwaysBreakTemplateDeclarations: true 
PointerAlignment: Left
IndentWidth: 4
MaxEmptyLinesToKeep: 2
AlignTrailingComments: true
TabWidth: 4
UseTab: Never
ColumnLimit: 80
AccessModifierOffset: -4
#AlignAfterOpenBracket: Align
#AllowShortBlocksOnASingleLine: true
#AllowShortCaseLabelsOnASingleLine: true

BreakBeforeBraces: Allman
#BraceWrapping: 
	#AfterEnum: true
	#AfterStruct: true
	#AfterClass: false
	#AfterControlStatement: true
	#AfterFunction: true
	#AfterNamespace: true
	#AfterUnion: true
	#SpliteEmptyRecord: true
	
Cpp11BracedListStyle: true
#SpaceBeforeCpp11BracedList: true
#FixNamespaceComments: true
IncludeBlocks: Preserve
---
